<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MyApiUrl" value="http://localhost:56145/api/" />
    <add key="MyApiDb" value="MYDBsID" />
    <add key="ToEmail" value="true" />
    <add key="emailUser" value="hvindas@number8.com" />
    <add key="emailPass" value="" />
  </appSettings>
</configuration>